/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    background-image: url(imagebrownies/cafeback.jpg);
    z-index: 13;
}
.background-container {
    
    width: 100%; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    background-image: url(imagebrownies/cafeback.jpg); /* Replace with your image path */
    background-position: center;
    background-size: cover;

    /* Other optional styles */
    background-repeat: no-repeat;
    border: 1px solid #ccc; /* Example border */
}

header {
    background-color: #eae8f0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.logo-img {
    height: 50px; /* Adjust the height as per your preference */
    margin-right: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #e42424;
    font-weight: bold;
}


/* Hero section styles */
.hero {
     
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative; /* Ensure position is relative for overlay content */
}

.hero-content {
    z-index: 1; /* Ensure content is above background image */
    max-width: 600px;
    padding: 20px;
}

.hero h1 {
    color: #d3d3db;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
    color: #f0f0ef;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #22e643;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #d35400;
}

.featured-products {
    padding: 4rem 0;
    text-align: center;
}

.featured-products h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.product {
    color: #09e051;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    width: 400%;
    max-width: 400px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.1);
}

.product h3 {
    color: #09e051;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
}

.product p {
    color: #22e643;
    margin-bottom: 1rem;
    text-align: center;
}

.product-button {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: 
    #09e051;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.product-button:hover {
    background-color: #2980b9;
}

.about-us {
    padding: 4rem 0;
    text-align: center;
    background-color: #dfd8d0;
}

.about-us h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contact {
    color: #09e051;
    padding: 4rem 0;
    text-align: center;
}

.contact h2 {
    color: #09e051;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contact ul {
    color: #09e051;
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
}
.contact p {
    color: #1cee62;
    font-size: 2.5rem;
}
.contact ul li {
    color: #22e643;
    margin-bottom: 0.5rem;
}

.contact ul li a {
    color: #34db7f;
}

#send-btn {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-btn:hover {
    background-color: #2980b9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
